:root {
	--dropdown-bg: rgb(248, 248, 248);
	--dark-dropdown-bg: rgb(212, 212, 212);
}

/* BOOK SEARCH BAR */
#search-form {
	width: 100%;
	display: inline-block;
	text-align: center;
}

#search-input {
	border: 1px solid var(--border-color);
	background: none;
	width: 250px;
	text-align: center;
	border-width: 0 0 1px 0;
}

#dropdown {
	background: var(--dropdown-bg);
	max-height: 400px;
	overflow-y: auto;
	width: 250px;
	position: absolute;
	left: calc(50% - 125px);
}

#dropdown div {
	height: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	transition: all 0.2s;
}

#dropdown div {
	line-height: 20px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

#dropdown div:hover {
	background-color: var(--dark-dropdown-bg);
	cursor: pointer;
}

#dropdown div img {
	height: 20px;
	width: auto;
}