/* MY BOOKS LIST */
#books {
	display: flex;
	justify-content: center;
	font-size: 10px;
}

#books div {
	width: 150px;
	text-align: center;
	font-size: 12px;
}

#books img {
	width: 128px;
	height: 160px;
}