:root {
	--bg-color: rgb(230, 230, 230);
	--text-color: rgb(0, 0, 0);
	--border-color: rgb(90, 90, 90);
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: sans-serif;
}

.button-link {
	border: 1px solid var(--border-color);
	color: var(--text-color);
	text-decoration: none;
	padding: 6px;
}

.user-form {
	width: 300px;
	border: 2px solid var(--border-color)
}

.user-form div {
	text-align: center;
}

.user-form label {

}

.user-form input {

}

.user-form button {
	
}