<head>
	<% include partials/head.ejs %>
</head>

<body>
	<h1>Book Club</h1>

	<p>Login or Register with:</p>

	<a href="/login" class="button-link">Local Login</a>
	<a href="/signup" class="button-link">Local Signup</a>
</body>