<head>
	<% include partials/head.ejs %>
	<link rel="stylesheet" href="styles/booksearch.css">
</head>

<body>
	<%- include("partials/navbar.ejs", {user: user}) %>
	<p id="page-title">All Books</p>
	<form id="search-form">
		<input type="text" name="searchValue" id="search-input" placeholder="Book title">
		<button type="Submit">Search Book</button>
		<div id="dropdown">
		</div>
	</form>

	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script src="scripts/topBooks.js"></script>
</body>