<head>
	<% include partials/head.ejs %>
	<link rel="stylesheet" href="styles/authform.css">
</head>

<body>
	<%- include("partials/navbar.ejs", {user: user}) %>
	<p id="page-title">Login</p>

	<!-- show authentication message, if any -->
	<% if (message.length > 0) { %>
		<div id="auth-message"><%= message %></div>
	<% } %>

	<form action="/login" method="post" class="user-form">
		<div>
			<label>Email</label><br>
			<input type="text"name="email">
		</div>
		<div>
			<label>Password</label><br>
			<input type="password" name="password">
		</div>
	
		<div>
			<button type="submit">Sign in</button>
		</div>
	</form>
</body>