<head>
	<% include partials/head.ejs %>
</head>

<body>
	<%- include("partials/navbar.ejs", {user: user}) %>
	<p id="page-title">Login</p>

	<!-- show authentication message, if any -->
	<% if (message.length > 0) { %>
		<div><%= message %></div>
	<% } %>

	<%- include("partials/auth_form.ejs", {method: "login"}) %>
</body>