<% include partials/head.ejs %>

<body>
	<%- include("partials/navbar.ejs", {user: user}) %>

	<p id="page-title">My Books</p>
	<div id="books">
		<% for (var i = 0; i < books.length; i++) { console.log(books[i]); %>
			<div>
				<img src="<%= books[i].imageSource %>"></img>
				<p><%= books[i].title %></p>
			</div>
		<% } %>
	</div>
</body>